# Data Science Tools and Ecosystem #

 In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives: ###
- List popular languages for Data Science
- Commonly using libraries
- Tools for Data Science

### Some of the popular languages that Data Scientists use are: ###
* SQL
* R
* Python
* Julia

### Some of the commonly used libraries used by Data Scientists include: ###
1. Pandas 
2. NumPy 
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [4]:
minutes = 200
hours = minutes / 60
hours
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author ##
Anastasiia Babenko